* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 750px;
    min-height: 300px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background: linear-gradient(to right, #cbe8ff 0%, #d0f5f6 50%, #e2f6fa 100%);
}

#legend {
    margin: 10px;
    display: inline-block;
    width: 175px;
    height: 250px;
    border: 1px solid black;
    vertical-align: bottom;
}

main {
    margin: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    vertical-align: top;
}

#scoreboard {
    margin: 10px;
    display: inline-block;
    width: 175px;
    height: 250px;
    border: 1px solid black;
    vertical-align: bottom;
}

h4 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

h5 {
    text-align: center;
    border: 2px solid black;
}

#clock {
    height: 40px;
    width: 80px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
}
#y_val{
    margin: 0px;
    text-align: right;
    margin-right: 25px;
    display: inline-block;
    width: 28px;
}
#x_val{
    margin: 0px;
    text-align: right;
    margin-right: 25px;
    display: inline-block;
    width: 66px;
}
#delimiter{
    margin-left: 10px;
    text-align: right;
    margin-right: 18px;
    display: inline-block;
    width: 10px;
}

#score {
    height: 80px;
    width: 80px;
    margin: auto;
}

ul#scoring{
    list-style-type: none;
    padding: 5px 5px;
    margin: 0px;
    display: inline-block;
    font-size: 25px;
    text-align: right;
}
ul{
    list-style-type: none;
    padding: 5px 5px;
    margin: 12px;
    display: inline-block;
    font-size: 25px;
    text-align: left;
}

li {
    font-weight: bold;
}

input {
    height: 30px;
    width: 96px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    border-top: 3px solid black;
    margin: 1px;
}
#playingBoard{
    min-height: 100px;
    width: 100px;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}
h3{
    text-align: right;
    margin-right: 30px;
    font-size: 25px;
}
button{
    margin: 1px;
    width: 100px;
}
p{
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
button#start{
    height: 50PX;
    background-color: rgb(195, 255, 195);
    margin-left: 34%;
}
button#wrong{
    height: 50PX;
    background-color: rgb(221, 50, 50);
    margin-left: 34%;
}
button#correct{
    height: 50PX;
    background-color: rgb(50, 221, 59);
    margin-left: 34%;
}
#score{
    height: 40px;
    width: 75px;
    font-size: 35px;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
}
